.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 18svh;
	/* border: 1px solid white; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* z-index: -1; */
	/* background-color: rgb(26, 26, 26); */
    /* border: 1px solid white; */
    background-color: transparent;
}

.content {
    color: rgb(152, 167, 148);
    margin-left: 8%;
}
