nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10svh;
	/* border: 1px solid white; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: rgb(26, 26, 26);
}

.visible {
	top: 0;
	transition: top 0.4s ease-out;
}
  
.hidden {
	top: -10svh;
	transition: top 0.5s ease-out;
}

.logo {
	font-family: "chakra", monospace;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.65em;
	color: rgb(152, 167, 148);
	margin-left: 3rem;
	margin-bottom: 0.2rem;
}

.nav_links {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid red; */
	margin-right: 3rem;
}

.nav_link {
	font-size: 1.25em;
	color: rgba(186,196,184,255);
	text-decoration: none;
	transition: 0.28s ease-in-out;
}

.nav_link:hover {
	color: white;
}

.resume {
	font-size: 1.22em;
	color: rgb(152, 167, 148);
	text-decoration: none;
	padding: 0.3vw;
	padding-top: 0.45vw;
	width: 5vw;
	text-align: center;
	transform: translateX(-0.9vw);
	border: 1px solid rgb(152, 167, 148);
	border-radius: 3.5px;
	transition: 0.28s ease-in-out;
}


.resume:hover {
	color: rgb(183, 122, 7);
	border: 1px solid rgb(183, 122, 7);
}